@use "../Global";

footer {
    background-color: Global.$pika-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding-top: 0.5rem;
    // padding-left: 1rem;
    // padding-right: 1rem;
    border-top: 0.3rem solid;
    border-color: Global.$main-color;
    position:absolute;
    bottom:0;
    width:100%;

    .footer__logo {
        width: 3rem;
    }

    .footer__socialicon {
        font-size: 3rem;
        color: white;
        transition: ease-in-out 0.5s;
    }

    .footer__socialicon:hover {       
        color: Global.$main-color;
        transition: ease-in-out 0.5s;
    }


    .footer__copy {
        font-weight: 400;
    }

    span {
        font-weight: bold;
    }
}




/* ----------------
    Media Queries
------------------*/

/* Pantallas extra grandes (desktops de mas de 1400px) */
@media (min-width: 1440px) { 
   
    
}


/* Pantallas extra grandes (desktops de mas de 1400px) */
@media (max-width: 1440px) { 
           
}


/* Pantallas grandes (desktops de menos de 1200px) */
@media (max-width: 1200px) { 
     
}


/* Pantallas medianas (tablets de menos de 992px) */
@media (max-width: 992px) { 
}


/* Pantallas pequeñas (móviles en landscape de menos de 768px) */
@media (max-width: 768px) { 
 
  
}


/* Pantallas muy pequeñas (móviles en portrait de menos de 576px) */
@media (max-width: 576px) { 
    
   
}

@media (max-width: 375px) { 
   
   
}