@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat:wght@300&display=swap");
/*-------------
	Colors
--------------*/
/*-----------------
	Typography
-------------------*/
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: rgb(223, 228, 234);
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*-----------------
	    Global
-------------------*/
html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "pokefont";
  src: url("../../fonts/Pokemon Solid.ttf") format("truetype");
}
.game__section {
  background-color: rgb(223, 228, 234);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.game__section .game__card {
  background-color: white;
  border-radius: 0.5rem;
  padding: 1rem;
  height: 35%;
  width: 35%;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: 3px 3px 6px hsla(0deg, 0%, 0%, 0.16);
}
.game__section .game__card .game__title {
  color: black;
  margin: 0;
  margin-bottom: 1rem;
  width: 100%;
  font-size: 2.5rem;
  font-weight: bold;
}
.game__section .game__card .game__title .pokemontitle {
  width: 8rem;
}
.game__section .game__card .game__title .pokemontitle:hover {
  animation: shake 0.5s;
}
.game__section .game__card .game__wraper {
  margin: 0;
  margin-bottom: 0;
  margin-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.game__section .game__card .game__wraper .game__pokemonimg {
  width: 100%;
  image-rendering: pixelated;
  margin: 0;
}
.game__section .game__card .game__wraper .game__pokemonimg .game__pokehide {
  transform: scale(2.5);
  filter: brightness(0);
  margin: 0;
}
.game__section .game__card .game__wraper .game__pokemonimg .game__pokereveal {
  transform: scale(2.5);
  filter: brightness(1);
  transition: 0.7s ease-out;
  margin: 0;
}
.game__section .game__card .game__choices {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.game__section .game__card .game__choices .game__buttoncontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 14rem;
}
.game__section .game__card .game__choices .game__buttoncontainer .game__button--wrong {
  animation: shake 0.5s;
  background: #D10024;
  color: white;
  border: 1px solid;
  border-color: #D10024;
  border-radius: 0.4rem;
  margin: 0;
  font-size: 1.2rem;
  text-transform: capitalize;
  padding: 0.5rem 0.8rem;
  width: 10rem;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin: 0.5rem;
}
.game__section .game__card .game__choices .game__buttoncontainer .pokeballcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.game__section .game__card .game__choices .game__buttoncontainer .pokeball {
  width: 2rem;
  height: 2rem;
}
.game__section .game__card .game__choices .game__buttoncontainer .pokeball:hover {
  animation: shake 0.5s;
}

.game__answercontainer {
  display: block;
  height: 2rem;
  width: 100%;
}
.game__answercontainer .game__answerreveal {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
  text-transform: capitalize;
  margin: 0;
}
.game__answercontainer .game__answerhide {
  display: none;
}

.game__button {
  background: rgb(246, 230, 82);
  color: black;
  border: 1px solid;
  border-color: rgb(246, 230, 82);
  border-radius: 0.4rem;
  margin: 0;
  font-size: 1.2rem;
  text-transform: capitalize;
  padding: 0.5rem 0.8rem;
  width: 10rem;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin: 0.5rem;
}
.game__button:hover {
  cursor: pointer;
  color: black;
}
.game__button::after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  display: block;
  transition: all 0.3s ease;
}
.game__button::after {
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
}
.game__button:hover::after {
  transform: skewX(-45deg) scale(1, 1);
  transition: all 0.3s ease-out;
}

.game__buttonwraper {
  display: flex;
  flex: row;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
/* ----------------
    Media Queries
------------------*/
/* Pantallas extra grandes (desktops de mas de 1400px) */
/* Pantallas extra grandes (desktops de mas de 1400px) */
/* Pantallas grandes (desktops de menos de 1200px) */
/* Pantallas medianas (tablets de menos de 992px) */
/* Pantallas pequeñas (móviles en landscape de menos de 768px) */
@media (max-width: 768px) {
  .game__section .game__card {
    width: 55%;
  }
}
/* Pantallas muy pequeñas (móviles en portrait de menos de 576px) */
@media (max-width: 576px) {
  .game__section .game__card {
    width: 80%;
  }
  .game__section .game__card .game__title {
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  .game__section .game__card .game__title .pokemontitle {
    width: 6rem;
  }
  .game__section .game__card .game__wraper .game__pokemonimg .game__pokehide {
    transform: scale(2);
  }
  .game__section .game__card .game__wraper .game__pokemonimg .game__pokereveal {
    transform: scale(2);
  }
}
@media (max-width: 376px) {
  .game__section .game__card {
    width: 80%;
  }
  .game__section .game__card .game__title {
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  .game__section .game__card .game__title .pokemontitle {
    width: 5rem;
  }
  .game__section .game__card .game__choices .game__buttoncontainer {
    height: 11.5rem;
  }
  .game__section .game__card .game__choices .game__buttoncontainer .game__button--wrong {
    font-size: 0.8rem;
    padding: 0.5rem 0.8rem;
    width: 8rem;
    margin: 0.5rem;
  }
  .game__section .game__card .game__choices .game__buttoncontainer .pokeball {
    width: 1.2rem;
    height: 1.2rem;
  }
  .game__section .game__card .game__wraper .game__pokemonimg .game__pokehide {
    transform: scale(1.5);
  }
  .game__section .game__card .game__wraper .game__pokemonimg .game__pokereveal {
    transform: scale(1.5);
  }
  .game__section .game__button {
    font-size: 0.8rem;
    padding: 0.25rem 0.4rem;
    width: 8rem;
  }
}
@media (max-width: 320px) {
  .game__section .game__card {
    width: 75%;
  }
  .game__section .game__card .game__title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  .game__section .game__card .game__title .pokemontitle {
    width: 5rem;
  }
  .game__section .game__card .game__wraper .game__pokemonimg .game__pokehide {
    transform: scale(1);
  }
  .game__section .game__card .game__wraper .game__pokemonimg .game__pokereveal {
    transform: scale(1);
  }
}

/*# sourceMappingURL=Game.css.map */
