@use "../Global";

.navbar {
    background-color: Global.$pokeball;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    border-bottom: 0.3rem solid;
    border-color: white;
    margin-bottom: 0.5rem;
    // padding-left: 2rem;
    // padding-right: 2rem;
  
    .navbar__sitelogo img {
        width: 8rem;
        padding-left: 2rem;
    }

    .hud {
        display: flex;
        flex-direction: row;  
        width: 25%;       
        padding: 0.5rem; 
        padding-right: 2rem;
        padding-top: 1rem;
        margin: 0;
        font-size: 1.3rem;
        

        .hud__col1 {
            display: flex;
            flex-direction: column;
            margin: 0;
            margin-bottom: 0.5rem;            
            font-weight: bold;
            color: white;         
            text-transform: capitalize;
            width: 80%;

            .hud__title {
                margin: 0;
                width: 100%;
                display: block;
                text-align: left;
                padding-bottom: 0.5rem;
            }      
        }
        
        .hud__col2 {
            display: flex;
            flex-direction: column;
            margin: 0;
            margin-bottom: 0.5rem;
            font-weight: bold;
            color: Global.$pika-color;
            text-transform: capitalize;
            width: 20%;

            .hud__data {
                margin: 0;
                width: 100%;
                display: block;
                text-align: right;
                padding-bottom: 0.5rem;
            }
        }
    } 

  
}



/* ----------------
    Media Queries
------------------*/

/* Pantallas extra grandes (desktops de mas de 1400px) */
@media (min-width: 1440px) { 
   
    
}


/* Pantallas extra grandes (desktops de mas de 1400px) */
@media (max-width: 1440px) { 
           
}


/* Pantallas grandes (desktops de menos de 1200px) */
@media (max-width: 1200px) { 
     
}


/* Pantallas medianas (tablets de menos de 992px) */
@media (max-width: 992px) { 
}


/* Pantallas pequeñas (móviles en landscape de menos de 768px) */
@media (max-width: 768px) { 
 
  
}


/* Pantallas muy pequeñas (móviles en portrait de menos de 576px) */
@media (max-width: 576px) { 
 
}

@media (max-width: 375px) { 
}