@use "../Global";

nav {
    width: 100%;
}

.navbar {
    background-color: Global.$pika-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    box-shadow: 3px 3px 6px hsla(0, 0%, 0%, 0.16);   
    border-bottom: 0.3rem solid;
    border-color: white;
 
  
    .navbar__sitelogo img {
        width: 8rem;
        padding-left: 2rem;
    }

    .navbar__sitelogo:hover {
        animation: shake 0.5s;
    }

    .hud { 

        .hud__scorewraper {           
            display: flex;
            justify-content: space-between;
            align-items: center;

            .hud__scoretitle {   
                display: flex;
                justify-content: space-between;
                align-items: center;   
                margin-bottom: 0.5rem;     
                    
                .score__icon {
                    color: black;
                    font-size: 1.3rem;
                    margin-right: 0.5rem;
                }
    
                .hud__title {
                    color: black;
                    font-size: 1.3rem;
                    text-align: left;
                    margin: 0;
                    width: 5rem;
                }  
            }  
            
            .hud__pointswraper {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 0.5rem;         

                .hud__points {
                    color: black;
                    font-size: 1.3rem;
                    margin: 0;
                }
            }
        }      
    } 

    .hud__icons {
        display: flex;
        justify-content: flex-end;
        width: 50%;
     
        .icon__wraper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: 1.2rem;
            margin-right: 1.2rem;

            .icon {
                display: flex;        
                align-items: center;     
                justify-content: center;               
                font-size: 2rem;     
                color: black; 
                background-color: white;
                padding: 0.4rem;               
                border-radius: 100%;
                box-shadow: 3px 3px 6px Global.$shadow;
            }

            .icon:hover{
                cursor: pointer;
                animation: shake 0.5s;
            }

            .icon__label {
                margin: 0;
                margin-top: 0.2rem;
                color: black;
                text-transform: capitalize;
            }
        }
    }
  
}



/* ----------------
    Media Queries
------------------*/

/* Pantallas extra grandes (desktops de mas de 1400px) */
@media (min-width: 1440px) { 
   
    
}


/* Pantallas extra grandes (desktops de mas de 1400px) */
@media (max-width: 1440px) { 
           
}


/* Pantallas grandes (desktops de menos de 1200px) */
@media (max-width: 1200px) { 
     
}


/* Pantallas medianas (tablets de menos de 992px) */
@media (max-width: 992px) { 
}


/* Pantallas pequeñas (móviles en landscape de menos de 768px) */
@media (max-width: 768px) { 
 
  
}


/* Pantallas muy pequeñas (móviles en portrait de menos de 576px) */
@media (max-width: 576px) { 
    .navbar {    
        height: 3.5rem;  
        .navbar__sitelogo img {
            width: 6rem;
            padding-left: 1rem;
        }      
    
        .hud {     
            margin-right: 1rem;   
            margin-left: 2rem;
            padding-top: 0.5rem;    
            padding-bottom: 0.5rem;  

            .hud__scorewraper {  
                margin: 0;
                .hud__scoretitle {                          
                    .score__icon {
                        font-size: 1rem;
                        margin-right: 0.5rem;
                    }
        
                    .hud__title {
                        font-size: 1rem;
                        width: 3rem;
                    }  
                }  
                
                .hud__pointswraper {            
                    margin-bottom: 0.25rem;    
                    .hud__points {
                        font-size: 1rem;
                        margin: 0;
                    }
                }
            }      
        } 

        .hud__icons {     
            width: 50%;
         
            .icon__wraper {               
                margin-left: 0.5rem;
                margin-right: 0.5rem;
    
                .icon {                         
                    font-size: 1rem;                       
                    padding: 0.4rem;                  
                }            
    
                .icon__label {
                    margin: 0;
                    margin-top: 0.2rem;
                }
            }
        }
          
    }     
}

@media (max-width: 376px) {
    .navbar {    
        height: 3.5rem;  
        .navbar__sitelogo img {
            width: 6rem;
            padding-left: 1rem;
        }      
    
        .hud {     
            margin-right: 1rem;   
            padding-top: 0.5rem;    
            padding-bottom: 0.5rem;  

            .hud__scorewraper {  
                margin: 0;
                .hud__scoretitle {       
                        
                    .score__icon {
                        font-size: 1rem;
                        margin-right: 0.5rem;
                    }
        
                    .hud__title {
                        font-size: 1rem;
                        width: 5rem;
                    }  
                }  
                
                .hud__pointswraper {            
                    margin-bottom: 0.25rem;         
    
                    .hud__points {
                        font-size: 1rem;
                        margin: 0;
                    }
                }
            }      
        } 
    
        .hud__icons {
           display: none;
        }      
    }     
}